
<table class="resultTable">
    <tr>
        <th>Game name</th>
        <th>Cd-Key price</th>
    </tr>
    {{#each articles}}
        <tr>
            <th>{{this.gameName}}</th>
            <th>{{this.title}}</th>
        </tr>
    {{/each}}
</table>